<sidebar (onClose)="onClose()"
         [isOpen]="isOpen"
         title="Add vehicle">
    <form [formGroup]="vehicleForm">
        <div class="grid grid-cols-2 mt-4 gap-1">
            <label class="m-2">Make: </label>
            <input class="border-2 border-orange m-1.5"
                   formControlName="make">
            <label class="m-2">Model: </label>
            <input class="border-2 border-orange m-1.5"
                   formControlName="model">
            <label class="m-2">Production year: </label>

            <input class="border-2 border-orange m-1.5"
                   formControlName="year"
                   type="number">
            <label class="m-2">Fuel type: </label>
            <select formControlName="fuelType"
                    class="border-2 border-orange m-1.5">
                <option *ngFor="let fuelType of fuelTypesOptions.fuelTypes"
                        [ngValue]="fuelType"
                        class="border-2 border-orange m-1.5">{{fuelType}}</option>
            </select>
            <label class="m-2">Vin number: </label>
            <input class="border-2 border-orange m-1.5"
                   formControlName="vinNumber">
        </div>

        <div class="flex justify-center mt-6">
            <button (click)="createVehicle()"
                    [disabled]="!vehicleForm.valid"
                    buttonStyle="navy">
                Submit
            </button>
        </div>
    </form>
</sidebar>