<sidebar (onClose)="onClose()" [isOpen]="isOpen" title="Add vehicle">
  <form [formGroup]="vehicleForm" class=" border-2 border-navy w-1/3 p-2 ">
    <div class="flex flex-col">
      <div class="flex flex-row">
        <div class="flex flex-col mr-10">
          <label class="m-2">Make: </label>
          <label class="m-2">Model: </label>
          <label class="m-2">Production year: </label>
          <label class="m-2">Fuel type: </label>
          <label class="m-2">Vin number: </label>
        </div>
        <div class="flex flex-col">
          <input class="border-2 border-orange m-1.5" formControlName="make">
          <input class="border-2 border-orange m-1.5" formControlName="model">
          <input class="border-2 border-orange m-1.5" formControlName="year">
          <select formControlName="fuelType">
            <option *ngFor="let fuelType of fuelTypesOptions.fuelTypes" [ngValue]="fuelType"
                    class="border-2 border-orange m-1.5">{{fuelType}}</option>
          </select>
          <input class="border-2 border-orange m-1.5" formControlName="vinNumber">
        </div>
      </div>
      <div class="flex justify-center">
        <button (click)="createVehicle()" buttonStyle="navy">
          Submit
        </button>
      </div>
    </div>
  </form>
</sidebar>
