<ng-container *ngIf="navbarItems && visible">
    <nav class="w-full mb-10 bg-white">
        <ul class="text-center  shadow-slate-400 shadow-md">
            <a *ngFor="let item of navbarItems"
               routerLink="{{item.routerLink}}"
               class="link transition-colors text-navy hover:text-orange-400">
                <li [ngClass]="{ 'text-white background-navy': item.routerLink === activeTab }"
                    class="inline-block pt-4 pb-3.5 navtile w-48 text-xl text-center k2d content-center transition-all drop-shadow-md">
                    {{item.title}}
                </li>
            </a>
        </ul>
    </nav>
</ng-container>