<div class=" tabs inline-flex"
     *ngIf="tabs?.length > 1">
    <p (click)="openTab(i)"
       *ngFor="let tab of tabs; let i = index"
       [class.active]="currentTab === tab"
       class="font-semibold tab-title pr-1.5 pl-1.5">
        {{tab}}
    </p>
</div>
<div [class.p-3]="tabs?.length > 1">
    <div *ngFor="let tab of tabs; let i = index"
         [class.hidden]="currentTab !== tab">
        <ng-container *ngTemplateOutlet="tabTemplate, context: {index: i}">
        </ng-container>
    </div>
</div>