<div class="flex flex-col items-center">
  <div>
    <fleet-table [headerRow]="headerRow"
                 [rows]="rows"
                 [title]="title">
      <ng-template #additionalButtonTemplate>
        <ng-container *ngIf="hasAddButton()">
          <button (click)="openAdditionSidebar()"
                  buttonStyle
                  class="mr-2 align-middle">
            Add
          </button>

        </ng-container>
      </ng-template>

      <ng-template #additionalColumnTemplate
                   let-index="id">
        <button (click)="openSidebar(index)"
                buttonStyle
                class="mr-2">
          Details
        </button>
        <button (click)="console(index)"
                (click)="openDeletionConfirmSidebar(index)"
                buttonStyle="navy">
          Delete
        </button>
      </ng-template>
    </fleet-table>
  </div>
</div>

<vehicle-details-sidebar (closeEvent)="onCloseSidebar()"
                         [actualVehicleId]="actualVehicleId"
                         [isOpen]="isOpenSidebar">

</vehicle-details-sidebar>


<creation-sidebar
  (closeEvent)="onCloseAdditionSidebar()"
  (reloadEvent)="updateVehicles()"
  [isOpen]="isOpenAdditionSidebar"
  [creationCommand]="createVehicleCommand"
  [title]="'Add vehicle'">

</creation-sidebar>

<vehicle-delete-sidebar (closeEvent)="onCloseDeleteConfirmationSidebar()"
                        (reloadVehicles)="updateVehicles()"
                        [isOpen]="isOpenDeleteConfirmationSidebar"
                        [actualVehicleId]="actualVehicleId"
                        [userRole]="userRole">

</vehicle-delete-sidebar>


