<div class="flex flex-col items-center">
  <div>
    <fleet-table [headerRow]="headerRow"
                 [rows]="rows"
                 [title]="title">
      <ng-template #additionalButtonTemplate>
        <ng-container *ngIf="hasAddButton()">
          <div>

            <button (click)="openAdditionSidebar()"
                    buttonStyle
                    class="mr-2 align-middle">
              Add
            </button>
            <input-file (importedEvent)="updateVehicles()" [importer]="importer">

            </input-file>
          </div>

        </ng-container>
      </ng-template>

      <ng-template #additionalColumnTemplate
                   let-index="id">
        <button (click)="openSidebar(index)"
                buttonStyle
                class="mr-2">
          Details
        </button>
        <button (click)="console(index)"
                (click)="openDeletionConfirmSidebar(index)"
                buttonStyle="navy">
          Delete
        </button>
      </ng-template>
    </fleet-table>
  </div>
</div>

<vehicle-details-sidebar (closeEvent)="onCloseSidebar()"
                         [actualVehicleId]="actualVehicleId"
                         [isOpen]="isOpenSidebar">

</vehicle-details-sidebar>

<deletion-sidebar
  (closeEvent)="onCloseDeleteConfirmationSidebar()"
  (reloadEvent)="updateVehicles()"
  [deletionCommand]="deleteVehicleCommand"
  [isOpen]="isOpenDeleteConfirmationSidebar">
</deletion-sidebar>

<creation-sidebar
  (closeEvent)="onCloseAdditionSidebar()"
  (reloadEvent)="updateVehicles()"
  [creationCommand]="createVehicleCommand"
  [isOpen]="isOpenAdditionSidebar"
  [title]="'Add vehicle'">

</creation-sidebar>



