<div class="flex flex-col items-center">
  <div>
    <fleet-table [headerRow]="headerRow" [rows]="rows" [title]="title">
      <ng-template #additionalButtonTemplate>
        <button (click)="openAdditionSidebar()"
                buttonStyle
                class="mr-2 align-middle">
          Add
        </button>
      </ng-template>

      <ng-template #additionalColumnTemplate let-index="id">
        <button
          (click)="openSidebar(index)"
          buttonStyle
          class="mr-2"
        >
          Details
        </button>
        <button
          (click)="console(index)"
          (click)="openConfirmSidebar()"
          buttonStyle="navy"
          class="mr-2"
        >
          Delete
        </button>
        <button (click)="console(index)" [busy]="true" buttonStyle="navy">
          Button {{index}}
        </button>
      </ng-template>
    </fleet-table>
  </div>
</div>

<sidebar (onClose)="onCloseSidebar()" [isOpen]="isOpenSidebar" title="Details">
  <details-tab [tabs]="detailsTab">
    <ng-template #tabTemplate let-index="index">
      <ng-container [ngSwitch]="detailsTab[index]">
        <div *ngSwitchCase="'Current Review'">
          <overviews-history [current]="true" [vehicleId]="actualVehicleId"></overviews-history>
        </div>
        <div *ngSwitchCase="'Driver History'">
          <vehicle-drivers-history [vehicleId]="actualVehicleId"></vehicle-drivers-history>
        </div>
        <div *ngSwitchCase="'Review History'">
          <overviews-history [vehicleId]="actualVehicleId"></overviews-history>
        </div>
        <div *ngSwitchCase="'Insurance History'">
          <insurances-history [vehicleId]="actualVehicleId"></insurances-history>
        </div>
        <div *ngSwitchCase="'Current Insurance'">
          <insurances-history [current]="true" [vehicleId]="actualVehicleId"></insurances-history>
        </div>
        <div *ngSwitchDefault>{{detailsTab[index]}}</div>
      </ng-container>
    </ng-template>
  </details-tab>

  <p bottomBar>
    Bottom bar
  </p>
</sidebar>

<sidebar (onClose)="onCloseAdditionSidebar()" [isOpen]="isOpenAdditionSidebar" title="Add vehicle">
  <form [formGroup]="vehicleForm" class=" border-2 border-navy w-1/3 p-2 ">
    <div class="flex flex-col">
      <div class="flex flex-row">
        <div class="flex flex-col mr-10">
          <label class="m-2">Make: </label>
          <label class="m-2">Model: </label>
          <label class="m-2">Production year: </label>
          <label class="m-2">Fuel type: </label>
          <label class="m-2">Vin number: </label>
        </div>
        <div class="flex flex-col">
          <input formControlName="make" class="border-2 border-orange m-1.5">
          <input formControlName="model" class="border-2 border-orange m-1.5">
          <input formControlName="year" class="border-2 border-orange m-1.5">
          <input formControlName="fuelType" class="border-2 border-orange m-1.5">
          <input formControlName="vinNumber" class="border-2 border-orange m-1.5">
        </div>
      </div>
      <div class="flex justify-center">
        <button buttonStyle="navy" (click)="addVehicle()">
          Submit
        </button>
      </div>

    </div>


  </form>
</sidebar>

<confirm-sidebar
  (onClose)="onCloseConfirmSidebar()"
  [isOpen]="isOpenConfirmSidebar"
  buttonLabel="Delete"
  message="Are you sure about delete?"
  title="Confirm"
></confirm-sidebar>


