<div class="flex flex-row justify-between">
  <app-table-title [tableTitle]="title"></app-table-title>
  <common-button [buttonTitle]="addButton.buttonTitle" [buttonFunction]="addButton.event" class="pr-4"></common-button>
</div>
<table
  mat-table
  [dataSource]="rows"
  class="mat-elevation-z8 w-full background-grey"
>
  <ng-container *ngFor="let column of columns">
    <ng-container matColumnDef="{{ column.definition }}">
      <th
        mat-header-cell
        *matHeaderCellDef
        class="border-r-2 border-navy text-center w-fit"
        [ngClass]="column.isFirst ? 'first-column first-row' : 'other-column'"
      >
        {{ column.title }}
      </th>
      <td
        class="border-r-2 border-navy w-fit"
        [ngClass]="column.isFirst ? 'first-column w-8' : 'other-column'"
        *matCellDef="let element"
      >
        <ng-container *ngIf="isOptions(element[column.definition])">
          <ng-container
            *ngFor="let btn of element[column.definition].getButtons()"
          >
            <common-button
              class="p-2"
              [rowButton]="btn"
            ></common-button>
          </ng-container>
        </ng-container>
        <div *ngIf="isPrimitive(element[column.definition])">
          {{ element[column.definition] }}
        </div>
      </td>
    </ng-container>
  </ng-container>

  <tr
    mat-header-row
    *matHeaderRowDef="displayedColumns"
    class="border-b-2 border-navy"
  ></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: displayedColumns"
    class="border-b-2"
  ></tr>
</table>
