<sidebar (onClose)="onClose()" [isOpen]="isOpen" title="Details">
  <details-tab [tabs]="detailsTab">
    <ng-template #tabTemplate let-index="index">
      <ng-container [ngSwitch]="detailsTab[index]">
        <div *ngSwitchCase="'Current Review'">
          <overviews-history [current]="true" [objectId]="actualVehicleId"></overviews-history>
        </div>
        <div *ngSwitchCase="'Driver History'">
          <vehicle-drivers-history [objectId]="actualVehicleId"></vehicle-drivers-history>
        </div>
        <div *ngSwitchCase="'Review History'">
          <overviews-history [objectId]="actualVehicleId"></overviews-history>
        </div>
        <div *ngSwitchCase="'Insurance History'">
          <insurances-history [objectId]="actualVehicleId"></insurances-history>
        </div>
        <div *ngSwitchCase="'Current Insurance'">
          <insurances-history [current]="true" [objectId]="actualVehicleId"></insurances-history>
        </div>
        <div *ngSwitchDefault>{{detailsTab[index]}}</div>
      </ng-container>
    </ng-template>
  </details-tab>

  <p bottomBar>
    Bottom bar
  </p>
</sidebar>
