<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-full">
  <ng-container *ngFor="let column of columns">
    <ng-container matColumnDef="{{ column.definition }}">
      <th
        mat-header-cell
        *matHeaderCellDef
        [ngClass]="column.isFirst ? 'first-col' : 'other-col'"
      >
        {{ column.title }}
      </th>
      <td
        [ngClass]="column.isFirst ? 'first-col' : 'other-col'"
        *matCellDef="let element"
      >
        {{ element[column.definition] }}
      </td>
    </ng-container>
  </ng-container>

  <tr
    mat-header-row
    *matHeaderRowDef="displayedColumns"
    class="border-b-2 border-color-navy"
  ></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: displayedColumns"
    class="border-b-2"
  ></tr>
</table>
