.border-color-navy {
  border-color: #27187e;
}

.first-col {
  width: 32px;
  border-right: 2px solid #27187e;
  padding-right: 24px;
  text-align: center;
}

.other-col {
  padding-left: 24px;
}

table {
  background-color: #f5f5f5;
}
