<form [formGroup]="vehicleForm">
    <p class="text-navy text-lg font-semibold mt-2">Add vehicle</p>
    <div class="flex flex-row mt-2">
        <select formControlName="vehicle"
                class="border-2 border-orange p-1.5 flex-grow mr-4">
            <option *ngFor="let vehicle of vehiclesInDropDown"
                    [ngValue]="vehicle.id"
                    class="border-2 border-orange m-1.5">{{vehicle.id}} , {{vehicle.make}}, {{vehicle.model}},
                {{vehicle.productionYear}}</option>
        </select>
        <button (click)="assignVehicleToUser()"
                [disabled]="!vehicleForm.valid"
                buttonStyle="navy"
                class="mr-2 align-middle w-fit">
            Add
        </button>
    </div>
</form>


<fleet-table *ngIf="rows.length > 0"
             [headerRow]="headerRow"
             [rows]="rows"
             [title]="title">
    <ng-template #additionalButtonTemplate>

    </ng-template>
</fleet-table>