<fleet-table [headerRow]="headerRow" [rows]="rows" [title]="title">
  <ng-template #additionalButtonTemplate>
  <button (click)="openAdditionSidebar()"
          buttonStyle
          class="mr-2 align-middle">
    Add
  </button>
    </ng-template>
</fleet-table>

<sidebar (onClose)="onClose()"
         [isOpen]="isOpen"
         title="Choose vehicle">
  <form [formGroup]="vehicleForm">
    <select formControlName="vehicle"
            class="border-2 border-orange m-1.5">
         <option *ngFor="let vehicle of vehiclesInDropDown"
          [ngValue]="vehicle.id"
          class="border-2 border-orange m-1.5">{{vehicle.id}} , {{vehicle.make}}, {{vehicle.model}}, {{vehicle.productionYear}}</option>
  </select>
    <div class="flex justify-center mt-6">
      <button (click)="assignVehicleToUser()"
              [disabled]="!vehicleForm.valid"
              buttonStyle="navy">
        Submit
      </button>
    </div>
  </form>

</sidebar>
