<!--<router-outlet></router-outlet>-->
<fleet-table>
  <ng-template #additionalColumnTemplate let-index='id'>
    <button class="mr-2" (click)="console(index)" buttonStyle (click)="openSidebar()">Button {{index}}</button>
    <button class="mr-2" (click)="console(index)" buttonStyle="navy" (click)="openConfirmSidebar()">Button {{index}}</button>
    <button  (click)="console(index)" buttonStyle="navy" [busy]="true">Button {{index}}</button>
  </ng-template>
</fleet-table>


<sidebar [isOpen]="isOpenSidebar" title="Title" (onClose)="onCloseSidebar()">
  test

  <p bottomBar>
    Is content projection cool?
  </p>
</sidebar>

<confirm-sidebar
  [isOpen]="isOpenConfirmSidebar"
  title="Confirm"
  message="Are you sure about delete?"
  buttonLabel="Delete"
  (onClose)="onCloseConfirmSidebar()"
></confirm-sidebar>