$col-orange: #ff8600;
$col-navy: #27187e;


.text-navy {
  color: #27187e;
}

.border-navy {
  border-color: #27187e;
}

.border-orange {
  border-color: #ff8600;
}

.background-navy {
  background-color: #27187e;
}

.background-grey {
  background-color: #f5f5f5;
}

.on-activate-bg-grey:active{
  background-color: #f5f5f5;
}

.background-orange {
  background-color: #ff8600;
}