<sidebar (onClose)="onClose()"
         [isOpen]="isOpen"
         title="Add driver">
    <form [formGroup]="driversForm">
        <div class="grid grid-cols-2 mt-4 gap-1">
            <label class="m-2">Last Name: </label>
            <input class="border-2 border-orange m-1.5"
                   formControlName="lastName">
            <label class="m-2">First Name: </label>
            <input class="border-2 border-orange m-1.5"
                   formControlName="firstName">
            <label class="m-2">Seniority: </label>

            <input class="border-2 border-orange m-1.5"
                   type="number"
                   formControlName="seniority">
            <label class="m-2">Title: </label>
            <select formControlName="title"
                    class="border-2 border-orange m-1.5">
                <option selected
                        disabled></option>
                <option *ngFor="let option of titleOptions"
                        [ngValue]="option"
                        class="border-2 border-orange m-1.5">{{option}}</option>
            </select>
        </div>

        <div class="flex justify-center mt-6">
            <button (click)="createDriver()"
                    [disabled]="!driversForm.valid"
                    buttonStyle="navy">
                Submit
            </button>
        </div>
    </form>
</sidebar>
