<div class="flex justify-between">
    <h1 *ngIf="!title.isEmpty()"
        class="text-2xl text-navy decoration-2 p-2 k2d border-b-2 border-orange w-fit">
        {{ title.value }}
    </h1>

    <div *ngIf="additionalButtonTemplate"
         class="flex items-end">
        <ng-container *ngTemplateOutlet="additionalButtonTemplate">
        </ng-container>
    </div>

</div>

<table class="_table k2d bg-white w-fit mt-4 border-navy b-r-2">
    <thead>
        <tr class="sticky border-navy border-b-2 shadow-md">
            <th *ngFor="let headerColumn of headerRow.columns; let index = index"
                class="border-navy border-r-2 text-center p-2 capitalize cursor-pointer"
                [class.bg-orange-100]="index === sortedColumnIndex"
                (click)="sortBy(index)">
                {{headerColumn.value}}
            </th>
            <th class="border-navy border-b-2 text-center p-2">
                Actions
            </th>
        </tr>
    </thead>
    <tbody class="bg-slate-50">
        <tr *ngFor="let row of displayRows; let i = index; let last = last"
            [class.border-b-2]="!last"
            class="border-navy-50">
            <td *ngFor="let col of row.columns; let index = index"
                [class.bg-orange-50]="index === sortedColumnIndex"
                class="border-navy border-r-2 text-center p-2">
                {{col.displayValue()}}
            </td>
            <td *ngIf="additionalColumnTemplate"
                class="text-center p-2">
                <ng-container *ngTemplateOutlet="additionalColumnTemplate, context: {id: row.columns[0].value}">
                </ng-container>
            </td>
        </tr>
    </tbody>
</table>