<div class="sidebar bg-col-w flex flex-col is-hide" [class.is-hide]="!isOpen" [class.center-tray]="centerTray">
  <div class="flex align-middle justify-between">
    <h3 class="font-bold text-xl">{{title}}</h3>
    <button class="material-symbols-outlined" (click)="close()">
      close
    </button>
  </div>
  <div class="flex-grow overflow-y-auto pt-4">
    <ng-content></ng-content>
  </div>
  <div>
    <ng-content select="[bottomBar]"></ng-content>
  </div>
</div>

<!-- overlay -->
<div
  class="overlay w-screen h-screen"
  [class.is-hide]="!isOpen"
  (click)="close()"
></div>
