:host {
    position: relative;
    display: inline-block;
    height: 100%;
}

.fill {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    opacity: 0;
}

.inputButton {
    width: 150px;
    cursor: pointer;
}