<div class="flex flex-col items-center">
  <div>
    <fleet-table [headerRow]="headerRow"
                 [rows]="rows"
                 [title]="title">
      <ng-template #additionalButtonTemplate>
        <ng-container *ngIf="hasAddButton">
          <button (click)="openAdditionSidebar()"
                  buttonStyle
                  class="mr-2 align-middle">
            Add
          </button>

        </ng-container>
      </ng-template>
      <ng-template #additionalColumnTemplate
                   let-index="id">
        <button
          (click)="openSidebar(index)"
          buttonStyle
          class="mr-2">
          Details
        </button>
        <ng-container *ngIf="isAdmin()">
          <button (click)="console(index)"
                  (click)="openDeleteConfirmationSidebar(index)"
                  buttonStyle="navy">
            Remove
          </button>
        </ng-container>
      </ng-template>
    </fleet-table>
  </div>
</div>

<driver-details-sidebar (closeEvent)="onCloseSidebar()"
                        [actualDriverId]="driverId"
                        [isOpen]="isOpenSidebar">

</driver-details-sidebar>


<driver-delete-sidebar
  (closeEvent)="onCloseDeleteConfirmationSidebar()"
  (reloadDrivers)="updateDrivers()"
  [actualDriverId]="driverId"
  [isOpen]="isOpenDeleteConfirmationSidebar"
></driver-delete-sidebar>

<drivers-creation-sidebar (closeEvent)="onCloseAdditionSidebar()"
                          (reloadDrivers)="updateDrivers()"
                          [isOpen]="isOpenAdditionSidebar">
</drivers-creation-sidebar>

