<sidebar (onClose)="onClose()"
         [isOpen]="isOpen"
         [title]="title">
  <form [formGroup]=" creationCommand.form()">
    <div class="grid grid-cols-2 mt-4 gap-1">
      <ng-container *ngFor="let control of creationCommand.controls()">
        <label class="m-2">{{control.title}}</label>
        <ng-container *ngIf="isSelect(control)">
          <select [formControlName]="control.key"
                  class="border-2 border-orange m-1.5">
            <option disabled
                    selected></option>
            <option *ngFor="let option of getOptions(control)"
                    [ngValue]="option"
                    class="border-2 border-orange m-1.5">{{option}}</option>
          </select>
        </ng-container>
        <ng-container *ngIf="isInput(control)">
          <input [formControlName]="control.key"
                 class="border-2 border-orange m-1.5">
        </ng-container>

        <ng-container *ngIf="isDate(control)">
          <input
            [formControlName]="control.key"
            class="border-2 border-orange m-1.5"
            type="date">
        </ng-container>

        <ng-container *ngIf="isDateTime(control)">
          <input
            [formControlName]="control.key"
            class="border-2 border-orange m-1.5"
            type="datetime-local">
        </ng-container>

      </ng-container>
    </div>
    <div class="flex justify-center mt-6">
      <button (click)="create()"
              [disabled]="!creationCommand.isCommandValid()"
              buttonStyle="navy">
        Submit
      </button>
    </div>
  </form>

</sidebar>
